<div class="center jumbotron">
    <h1>Tom LePage - Web Portfolio</h1><br/>
    <%= link_to "Wolf Blog Application", "https://blog-lepage.herokuapp.com", class: "btn btn-primary btn-lg" %>
    <%= link_to "Finance Tracker Application", "https://financetracker-lepage.herokuapp.com", class: "btn btn-primary btn-lg" %>
    <%= link_to "Photos Application", "https://photoapp-lepage.herokuapp.com", class: "btn btn-primary btn-lg" %>
    <h4>More apps on the way!</h4>
</div>